<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= documentTitle %></title>
  </head>
  <body>
    <h1><%= documentTitle %></h1>
    <form id"addTodoForm" method="post" action="/">
      <div>
        <label for="task">Task</label>
        <input name="task" type="text" placeholder="Add task">
      </div>
      <div>
        <label for="description">Description</label>
        <input name="description" type="text" placeholder="Add description">
      </div>
      <div>
        <button>Add Todo</button>
      </div>
    </form>
  </body>
</html>
